mixin exercise(title, id)
	article.exercise
		h3= title
		block

mixin note
	p.note
		block

mixin prayer(title, id)
	.prayer
		h5= title
		block

mixin translation(latin, english)
	table.lined.translation
		thead
			th= latin
			th= english
		tbody
			block

mixin entry(latin, english)
	tr
		td.translation
			div&attributes(attributes)
				| !{latin}
		td.translation
			div&attributes(attributes)
				| !{english}

mixin chaplet
	.chaplet
		block

mixin beads
	.beads
		block

mixin meditation
	.meditation
		block

mixin bead
	.bead
		block